.database-riset-information {
  display: flex;
  align-items: center;
  margin: 20px;
}

.database-riset-information img {
  margin-top: 20px;
  width: 13rem;
}

.database-riset-description {
  padding: 10px;
  width: 40rem;
  height: 100%;
  margin: 20px;
  border: 1px solid black;
}

.database-riset-description h3 {
  font-weight: 700;
}

.database-riset-description h4 {
  font-weight: 600;
}

.database-riset-add {
  display: block;
  margin-left: auto;
  position: absolute;
  margin: 30px 0;
  left: 80rem;
}
