* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.flexbox-upper-side {
  display: flex;
  flex-direction: column;
}

.upper-side {
  max-width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00a0ff;
}

.upper-side img {
  width: 100%;
}

.upper-side .small-img {
  display: flex;
  flex: 1;
}

.upper-side .small-img img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  border: 5px solid white;
  border-radius: 15px;
  max-width: 100%;
  width: 40rem;
  margin: 10px;
}

/*
  .container-fluid {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  
  .carousel {
    max-width: 100%;
    justify-content: center;
    margin: 50px;
    border: 1px solid rgb(24, 149, 233);
    border-radius: 15px;
  }
  
  .carousel-inner {
    max-width: 50em;
    border-radius: 15px;
  }
  
  .container-img {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
  
  .container-img img {
    position: relative;
    max-width: 100%;
    width: 23.5em;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    top: -1.3em;
    margin-left: -2.5em;
    border-radius: 10px;
  }*/

.footer {
  background-image: url("../images/e-library\ banner\ footer.png");
  background-position: 0% 34%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 30px;
}

.footer .card {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  border: 5px solid white;
  border-radius: 10px;
  margin: 20px;
  background-color: white;
  text-decoration: none;
}

.card h4 {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #00a0ff;
  border-radius: 15px;
  color: white;
  padding: 5px;
  margin: 5px;
}

.card img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  border-radius: 10px 10px 0px 0px;
  max-width: 100%;
  width: 350px;
  height: 250px;
}

.card a img:hover {
  transition: all 300ms ease-in-out;
  opacity: 0.8;
}

.card:hover {
  position: relative;
  top: -1em;
}

.option {
  display: flex;
  width: 100%;
  flex: 1;
}
.option button {
  outline: none;
}

.riset-option {
  margin: 35px;
  padding: 150px;
  background-color: gray;
  border-radius: 15px;
  border: 5px solid white;
  background-image: url("../images/riset-img.svg");
  background-size: 30rem;
  background-position: 8rem 4rem;
  background-repeat: no-repeat;
}

.riset-option h4 {
  position: relative;
  bottom: 8rem;
  right: 8rem;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
}

.riset-option button {
  position: relative;
  bottom: 8rem;
  right: 8rem;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: orange;
  transition: all 300ms ease-in-out;
}
.riset-option button:hover {
  color: white;
}

.catalogue-option {
  margin: 35px;
  padding: 150px;
  border-radius: 15px;
  border: 5px solid white;
  background-image: url("../images/catalogue-img.png");
  background-size: 25rem;
  background-position: 8rem 4rem;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

.catalogue-option h4 {
  position: relative;
  bottom: 8rem;
  right: 8rem;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
}

.catalogue-option button {
  position: relative;
  bottom: 8rem;
  right: 8rem;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: orange;
  transition: all 300ms ease-in-out;
}
.catalogue-option button:hover {
  color: white;
}
