.kategori-buku {
  width: 100%;
  background-color: black;
  color: white;
}

.kategori-buku-flexbox {
  display: flex;
  flex-direction: column;
}

.kategori-buku-leftside {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px;
}

.kategori-buku-leftside input {
  position: relative;
  top: 5rem;
  width: 400px;
  padding: 10px;
  outline: none;
  border-radius: 20px;
}

.kategori-buku-leftside h1 {
  font-size: 70px;
  font-weight: 800;
}

.kategori-buku h2 {
  margin: 25px;
  font-weight: 600;
}

.kategori-buku-rightside {
  border: 1px solid white;
  width: 75rem;
  margin: 50px;
  height: 500px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.kategori-buku-rightside img {
  width: 250px;
  margin: 5px;
}

.kategori-buku-card {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid white;
}

.kategori-buku-card a {
  text-decoration: none;
  color: white;
}

.kategori-buku-card h4 {
  margin: 15px;
  text-align: center;
  width: 300px;
  word-wrap: break-word;
}
